
body {

    margin: 0;
    padding-top: 100px; 
}

.navbar {
    position: fixed;
    top: 30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #456D76;
    border-radius: 50px; 
    padding: 20px 120px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
    z-index: 1000; 
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 50px;
}

/* .navbar li {
  
} */

.navbar a {
    color: white; 
    text-decoration: none;
    font-family: Arial, sans-serif; 
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50px; 
    transition: background-color 0.3s ease;
    display: block; 
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}
